<div id="myModal2" class="modal fade">
        <div class="modal-dialog modal-signup">
          <div class="modal-content">
            <form action="/" method="post">
              <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-hidden="true"
                >
                  &times;
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  
            <label for="name">First and Last Name</label>
            <input class="form-control" type="text" name="name" id="username" tabindex="1"/>
        </div>
  
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" id="email" >
        </div>
  
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" tabindex="2" >
        </div>
        
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password">
                </div>
            </div>   
            <div class="col">
                <div class="form-group">
                    <label for="confrimpassword">Confrim Password</label>
                    <input class="form-control" type="password" name="confrimpassword" id="confrimpassword">
                </div>
            </div>
        </div>
       
        <div class="form-group">
        <label for="gender"></label>
        <select class="form-control" name="gender" id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        </div>
       
       
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="role">Role</label>
                    <select class="form-control" name="role" id="role">
                        <option value="teacher">Teacher</option>
                        <option value="student">Student</option>
                    </select>
                </div>
            </div>
           
            <div class="col">
                <div class="form-group">
                    <label for="course">Field</label>
                    <select class="form-control" name="course" id="course">
                        <option value="itsc">ITSC</option>
                        <option value="civil">Civil Engineering</option>
                        <option value="mechanical">Mechanical Engineering</option>
                        <option value="electrical">Electrical Engineering</option>
                    </select>
                </div>
            </div>
            </div>
            <div class="modal-footer">
          
                <div class="signupbtn form-group">
                    <button type="submit" name="signup" class="btn btn-outline-primary" >Signup</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
        